.confirmation-box {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #dedede;
    margin-top: 1rem;
  
    h3 {
      color: #1b5875;
    }
  
    p {
      margin-top: 10px;
      font-size: 1rem;
      color: #555555;
    }
  }
  