// filepath: /Users/baabu/Projects/cmw-registration/src/styles/_variables.scss
// Theme Colors
$light-blue: #2988b5;
$dark-blue: #1b5875;
$light-grey: #dedede;
$dark-grey: #aaaaaa;
$text-color: #555555;
$dark-red: #a93a44;
$light-red: #ffe8e8;