<div class="section-header">LOGIN</div>

<div class="container">
  <h2>Login</h2>
  <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" novalidate>
    <p>Please enter the case sensitive password from your official invitation.</p>

    <label for="password"><strong>Password:</strong></label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="password"
      required
      #passwordField="ngModel"
      [ngClass]="{ 'invalid': passwordField.invalid && loginForm.submitted }"/>
    <button type="submit">Login</button>
  </form>
</div>
